<div class="marg">
<div class="jumbotron text-center">
    <!-- <h1>MEAN Stack</h1> -->
    <h1 class="leady ">Bienvenido a <strong>ejecutivo.mx</strong></h1>
    <div>
      <a routerLink= "/register" class="btn btn-primary">Registro</a>
      <a routerLink="/login" class="btn btn-default">Iniciar sesión</a>
    </div>
  </div>
</div>
  


<div class="row">
    <div class="col-sm-6 col-md-4">
      <div class=" text-center thumbnail ">
        <img style="margin-top: 45px" src="https://res.cloudinary.com/dtciysqlf/image/upload/v1533349674/logo-ITAM.png" alt="placeholder image" width="140" height="140">
        <div class="caption">
          
          
        </div>
      </div>
      
    </div>
  
    <div class="col-sm-6 col-md-4" >
      <div class=" text-center thumbnail"> <img src="https://res.cloudinary.com/dtciysqlf/image/upload/v1533349085/Tec.png" alt="Generic placeholder image" width="140" height="140">
        <div class="caption">
          
        </div>
      </div>
      
    </div>
  
    <div class="col-sm-6 col-md-4">
      <div class=" text-center thumbnail"> <img style="margin-top: 32px" src="https://res.cloudinary.com/dtciysqlf/image/upload/v1533349685/ibero.jpg" alt="Generic placeholder image" width="140" height="140">
        <div class="caption">
          
        </div>
      </div>
      
    </div>

  </div>

  <div class="row" style="margin: 50px 0">
    <div class="col-sm-6 col-md-4">
      <div class=" text-center thumbnail ">
        <button class="btn btn-secondary"> Ver programas</button>    
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class=" text-center thumbnail ">
        <button class="btn btn-secondary"> Ver programas</button>    
      </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class=" text-center thumbnail ">
          <button class="btn btn-secondary"> Ver programas</button>    
        </div>
      </div>
    </div>