<h1 class="pb-2 mt-4 mb-2 border-bottom">Todos los programas</h1>

<div class="container">
  <div class="row">
    <div class="container">
    <div class="col-sm-4 col-md-2">
      <img src="https://gonzo.itam.mx/Temario/Detalles_Merca/derecho_laboral.jpg" style="width: 200px; height: auto;"alt="">
    </div>
    <div class="col-sm-6 col-md-3" style="margin: 50px">
      <h6>DERECHO LABORAL Y SEGURIDAD SOCIAL</h6>
      <p>INICIA: 10-AGOSTO-2018
          TERMINA: 12-JULIO-2019
          HORARIO: VIERNES DE 17:00 A 22:00 H.
          MÓDULOS A CURSAR: 6
          HORAS: 198
          COSTO DE INSCRIPCIÓN: $7,900.00 PESOS M.N
          COSTO POR MÓDULO: $12,100.00 PESOS M.N</p>
    </div>
    <div class="col-sm-2 col-md-1">

      </div>
    </div>
  </div>
  <div class="row">

  </div>
  <div class="row">

  </div>
  <div class="row">

  </div>

  <div>
    <button class="btn btn-warning" href="/profile">Atrás</button>
  </div>
</div>