<footer class="container py-5" style="margin-top: 200px; background-color:papayawhip">
  <div class="container" >
    <div class="row">
      <div class="col-12 col-md">
          <i class="fas fa-graduation-cap"></i>
        
      </div>
      <div class="col-6 col-md">
        <h5>Herramientas utilizadas</h5>
        <ul class="list-unstyled text-small">
          <li><i class="fab fa-angular"></i><a class="text-muted" href="#"> Angular </a></li>
          <li><i class="fab fa-node"></i><a class="text-muted" href="#">NodeJS</a></li>
          <li> <a class="text-muted" href="#">Express</a></li>
          <li> <a class="text-muted" href="#">MongoDB</a></li>
          
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5></h5>
        <ul class="list-unstyled text-small">
          
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5></h5>
        <ul class="list-unstyled text-small">
          
        </ul>
      </div>
      <div class="col-6 col-md" style="margin-right: 120px">
        <h5>Acerca de nosotros</h5>
        <ul class="list-unstyled text-small">
          <li><i class="fab fa-github"></i><a class="text-muted" href="https://github.com/javieramirez90">Equipo</a></li>
          <li><i class="fab fa-linkedin"></i><a class="text-muted" href="https://www.linkedin.com/in/javieramirez00/">Contacto</a></li>
          
        </ul>
      </div>
    </div>
  </div>
  </footer>