<h1 class="pb-2 mt-4 mb-2 border-bottom">Inicio de sesión</h1>


<div class="row show-hide-message">
  <div [ngClass] = "messageClass">
    {{message}}
  </div>
</div>

<form [formGroup] = "form" (submit)="onLoginSubmit()">
  <!-- <div class="form-group">
    <label for="username">Nombre de usuario: </label>
    <div [ngClass]="{'has-error':(form.controls.username.errors && form.controls.username.dirty) || (!usernameValid && form.controls.username.dirty), 'has-success': !form.controls.username.errors && usernameValid}">
      <input type="text" name="username" class="form-control" placeholder="Usuario" formControlName="username" (blur) ="checkUsername()"/>
      <ul class="form-text text-muted">
          <li *ngIf="form.controls.username.errors?.required && form.controls.username.dirty">Este campo es obligatorio</li>
          <li *ngIf="(form.controls.username.errors?.minlength || form.controls.username.errors?.maxlength) && form.controls.username.dirty">Mínimo 3, máximo 15 caracteres</li>
          <li *ngIf="form.controls.username.errors?.validateUsername && form.controls.username.dirty">El nombre de usuario no debe tener ningún caracter especial</li>
          <li *ngIf="usernameMessage"> {{usernameMessage}} </li>
        </ul>
    </div>
  </div> -->
  <div class="form-group">
      <label for="email">Email: </label>
      <div [ngClass]="{'has-error': form.controls.email.errors && form.controls.email.dirty, 'has-success': form.controls.email.valid && form.controls.email.dirty }">
        <input class="form-control" type="text" name="email" formControlName="email" />
        
        <ul class="form-text text-muted">
          <li *ngIf="form.controls.email.errors?.required && form.controls.email.dirty">Este campo es obligatorio.</li>
        </ul> 
      </div>
    </div>
    
    <div class="form-group">
        <label for="password">Contraseña: </label>
        <div [ngClass]="{'has-error': form.controls.password.errors && form.controls.password.dirty, 'has-success': form.controls.password.valid && form.controls.password.dirty }"> 
          <input class="form-control" type="password" name="password" placeholder="Contraseña" formControlName="password" />
          
          <ul class="form-text text-muted">
            <li *ngIf="form.controls.password.errors?.required && form.controls.password.dirty">Este campo es obligatorio.</li>
          </ul>
        </div>
      </div>

      <input [disabled]="!form.valid || processing" type="submit" class="btn btn-primary" value="Iniciar Sesión">
</form>
